<tr>
  <td>
    <%= link_to(game.name, game_path(game)) %>
  </td>
  <td>
    <%= game.inventory&.balance %>
  </td>
  <td>
    <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
