<table>
  <tr class="current-balance">
    <td>Balance</td>
    <td>$<%= format_price(@game.inventory.balance) %></td>
  </tr>

  <tr class="milk-inventory">
    <td>Milk</td>
    <td><%= @game.inventory.milk %></td>
  </tr>

  <tr class="sugar-inventory">
    <td>Sugar</td>
    <td><%= @game.inventory.sugar %></td>
  </tr>
</table>