<table class="inventory">
  <tr class="current-balance">
    <td>Balance</td>
    <td class="right-aligned">$<%= format_price(@game.inventory.balance) %></td>
  </tr>

  <tr class="milk-inventory">
    <td>Milk</td>
    <td class="right-aligned"><%= @game.inventory.milk %></td>
  </tr>

  <tr class="sugar-inventory">
    <td>Sugar</td>
    <td class="right-aligned"><%= @game.inventory.sugar %></td>
  </tr>
</table>