// Fonts
$heading-font: 'Pacifico', cursive;
$body-font: 'Patrick Hand', cursive;

// Colours
$pink: #A22B5F;
$light-grey: #D9D8D9;
$medium-grey: #888B8F;
$blue: #3A425A;
$charcoal: #262527;
$yellow: #FFE6B9;
