@import 'fonts_and_colours';

.games-list,
.inventory,
.day-history {
  th {
    text-align: left;
  }

  td {
    border-bottom: 1px solid $medium-grey;
  }

  a {
    text-decoration: none;
  }
}

.games-list {
  margin-top: 25px;
}

.inventory {
  font-size: 1.2em;
}