.success-message {
  color: green;
}

.button {
  background-color: gray;
  color: black;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
}

.right-aligned {
  text-align: right;
}
